<?xml version="1.0" encoding="utf-8"?>

<launch>
  
  <!-- Use YOLOv3 Pavo -->
  <arg name="network_param_file"         default="$(find darknet_ros)/config/yolov3-pavo.yaml"/>
  <arg name="ros_param_file" default="$(find darknet_ros)/config/ros-pavo.yaml"/>


  <!-- Include main launch file -->
  <include file="$(find darknet_ros)/launch/darknet_ros.launch">
    <arg name="network_param_file"    value="$(arg network_param_file)"/>
    <arg name="ros_param_file"    value="$(arg ros_param_file)"/>
  </include>

</launch>
